---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ruby/ruby/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7969e7db6aba4ea64ecb477db7936f8a43b1158f94e87eea84134c593501698a"
      Last-Modified:
      - Sun, 19 Jun 2022 18:07:59 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/538746/tags?page=2>; rel="next", <https://api.github.com/repositories/538746/tags?page=38>;
        rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Reset:
      - '1655670979'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"v3_2_0_preview1","zipball_url":"https://api.github.com/repos/ruby/ruby/zipball/refs/tags/v3_2_0_preview1","tarball_url":"https://api.github.com/repos/ruby/ruby/tarball/refs/tags/v3_2_0_preview1","commit":{"sha":"f801386f0c7051085da9d6ca660642f3aa08c81e","url":"https://api.github.com/repos/ruby/ruby/commits/f801386f0c7051085da9d6ca660642f3aa08c81e"},"node_id":"MDM6UmVmNTM4NzQ2OnJlZnMvdGFncy92M18yXzBfcHJldmlldzE="},{"name":"v3_1_2","zipball_url":"https://api.github.com/repos/ruby/ruby/zipball/refs/tags/v3_1_2","tarball_url":"https://api.github.com/repos/ruby/ruby/tarball/refs/tags/v3_1_2","commit":{"sha":"4491bb740a9506d76391ac44bb2fe6e483fec952","url":"https://api.github.com/repos/ruby/ruby/commits/4491bb740a9506d76391ac44bb2fe6e483fec952"},"node_id":"MDM6UmVmNTM4NzQ2OnJlZnMvdGFncy92M18xXzI="},{"name":"v3_1_1","zipball_url":"https://api.github.com/re[...]
