---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/facebook/react/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dace38ac5566b024f5724922bdf98dc99f8115ba57e3846d8d0f78f22fc342dc"
      Last-Modified:
      - Sun, 19 Jun 2022 03:46:31 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1655610880'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"JavaScript":5957993,"HTML":119951,"CSS":63657,"C++":44278,"TypeScript":20868,"CoffeeScript":16826,"C":5225,"Shell":2331,"Python":259,"Makefile":189}'
  recorded_at: Sun, 19 Jun 2022 03:46:47 GMT
recorded_with: VCR 3.0.3
