---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ruby/ruby/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4653c9637282fc274c2d56725fe229569e041bb28d52e778cb87796e604c6ac0"
      Last-Modified:
      - Sun, 19 Jun 2022 18:07:59 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
      - '1655670980'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":33053955,"C":14228738,"C++":1557310,"Yacc":1151529,"Makefile":977837,"Rust":515001,"M4":180818,"Roff":116491,"Python":44062,"GDB":36134,"Ragel":30047,"HTML":21096,"CSS":17039,"Assembly":16488,"Shell":15475,"JavaScript":14769,"Batchfile":12158,"Emacs
        Lisp":4051,"sed":1953,"Scheme":557,"Raku":497,"Perl":187,"Dockerfile":81}'
  recorded_at: Sun, 19 Jun 2022 20:17:47 GMT
recorded_with: VCR 3.0.3
