---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/facebook/react/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: rate limit exceeded
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1655593780'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '60'
    body:
      encoding: UTF-8
      string: '{"JavaScript": 5955822, "HTML": 119951, "CSS": 63657, "C++": 44278, "TypeScript": 20868, "CoffeeScript": 16826, "C": 5225, "Shell": 2331, "Python": 259, "Makefile": 189}

        '
  recorded_at: Sat, 18 Jun 2022 22:55:59 GMT
recorded_with: VCR 3.0.3
